@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* --------------------- the universal selector --------------------- */
*{
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------------------- the body section --------------------- */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
}

/* --------------------- the header section --------------------- */
header {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px solid #fff;
    width: 85%;
    height: 95%;
}

header .side-menu, .podcast-menu {
    position: relative;
    height: 90%;
    width: 25%;
    background: #111727;
    box-shadow: 5px 0 2px #090f1f;
    flex-wrap: wrap;
}

header .podcast-menu {
    width: 75%;
    background: #0b1320;
}

header .play-menu {
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0 3px 8px #090f1f;
}

header .side-menu h1 {
    font-size: 20px;
    margin: 15px 0 0 20px;
    font-weight: 500;
}

header .side-menu .playlist {
    margin: 40px 0 0 20px;
}

header .side-menu .playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

header .side-menu .playlist h4:hover {
    color: #ffffff;
}

header .side-menu .playlist h4 span {
    position: relative;
    margin-right: 35px;
}

header .side-menu .playlist h4 span::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .side-menu .playlist h4:hover span::before {
    border: 2px solid #ffffff;
}

header .side-menu .playlist h4 .bi {
    display: none;
}

header .side-menu .playlist .active {
    color: #36e2ec;
}

header .side-menu .playlist .active span {
    display: none;
}

header .side-menu .playlist .active .bi {
    display: flex;
    margin-right: 20px;
}

header .side-menu .song-menu {
    width: 100%;
    height: 63.4%;
    border: 1px solid #fff;
    margin-top: 40px;
}

header .side-menu .song-menu li {
    list-style: none;
    padding: 5px 0 5px 20px;
    display: flex;
    align-items: center;
}

header .side-menu .song-menu li span {
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}

header .side-menu .song-menu li img {
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

header .side-menu .song-menu li h5 {
    font-size: 11px;
    margin-left: 15px;
}

header .side-menu .song-menu li .subtitle {
    font-size: 9px;
    color: #4c5262;
}