@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* --------------------- the universal selector --------------------- */
*{
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------------------- the body section --------------------- */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
}

/* --------------------- the header section --------------------- */
header {
    display: flex;
    border: 1px solid #fff;
    width: 85%;
    height: 95%;
}
header .side-menu, .podcast-menu {
    position: relative;
    height: 90%;
    width: 25%;
    border: 1px solid #fff;
    flex-wrap: wrap;
}

header .podcast-menu {
    width: 75%;
}

header .play-menu {
    width: 100%;
    height: 10%;
}